<h2>{{session.name}}</h2>
<div [ngStyle]="{color:couleur}">{{session.track}}</div>
<ul *ngIf="session.participants < 20; then ok else notok"></ul>
<ng-template #ok>Prévu le {{session.date | date:' d MM y'  }} pendant {{session.duree}} à {{session.local}} </ng-template>
<ng-template #notok>Session complète !</ng-template>
<div>{{session.participants}}</div>
<div class="tools">
  <a class="delete">
    Details
  </a>
  <a [appInscriptiondisabled]="session.isCompleted" class="inscrire" (click)="inscrire()" >
    Inscription
  </a>
  <a class="partager">
    Partager
  </a>
</div>